@font-face {
  font-family: 'Literata';
  src: local('Literata'),
    url('./Fonts/Literata.woff2') format('woff2') tech(variations);
  font-weight: 200 900;
  font-display: swap;
}

:root {
  /* COLORS */
  --clr-primary-1: hsl(40, 100%, 97%);
  --clr-primary-2: hsl(70, 5%, 22%);
  --clr-secondary: hsla(70, 5%, 22%, 0.5);
  --clr-shadow: hsla(70, 5%, 22%, 0.3);

  /* PADDING */
  --padding-vertical: 0.8125rem; /* 13px */
  --padding-horizontal: 1.625rem; /* 26px */

  /* MARGIN */
  --margin-s: 2.25rem; /* 36px */
  --margin-m: 2.5rem; /* 40px */
  --margin-l: 3rem; /* 48px */
  --margin-xl: 3.25rem; /* 50px */

  /* GAP */
  --gap: 1rem; /* 16 px */

  /* FONT SIZES */
  --font-smaller: 0.625rem; /* 10px */
  --font-small: 0.75rem; /* 12px */

  /* OTHER SIZES */
  --border-radius: 0.3125rem; /* 5px */
  --checkbox-size: 1.25rem; /* 20px */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Literata', serif;
  font-size: 16px;
}

body {
  background-color: var(--clr-primary-1);
  color: var(--clr-primary-2);
  height: 100vh;
}

button,
input:not([type='checkbox']) {
  border-radius: var(--border-radius);
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: 100%;
  padding: var(--padding-vertical) var(--padding-horizontal);
  width: 100%;
}

input {
  --clr-bg-input: hsla(60, 10%, 92%, 0.5);

  background-color: var(--clr-bg-input);
  border: none;

  &:is([type='checkbox']) {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
  }
}

a {
  --clr-link: hsl(240, 100%, 50%);
  --clr-link-active: hsl(266, 100%, 50%);
  --font-weight: 600;
  --font-opsz: 50;

  font-variation-settings: 'opsz' var(--font-opsz);
  font-weight: var(--font-weight);
  text-decoration: none;
  transition: font-variation-settings 300ms ease, font-weight 300ms ease;

  &:link {
    color: var(--clr-link);
  }

  &:active,
  &:visited {
    color: var(--clr-link-active);
  }

  &:hover {
    --font-weight: 800;
    --font-opsz: 70;
    text-decoration-line: underline;
  }

  &:focus {
    outline-color: var(--clr-primary-2);
    outline-offset: 2px;
  }
}

button {
  appearance: none;
  border: none;
  transition: transform 300ms linear;

  &:hover {
    cursor: pointer;
    transform: scale(1.04);
  }
}

.container {
  display: flex;
  height: 100%;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  width: 50%;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  & figcaption {
    background-color: var(--clr-shadow);
    color: var(--clr-primary-1);
    font-size: clamp(var(--font-smaller), 0.7vw, var(--font-small));
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;

    & a:link,
    & a:active,
    & a:visited {
      color: var(--clr-primary-1);
      text-decoration-line: underline;
    }
  }
}

.form-wrapper {
  --pd-form-horizontal: 2.25rem;
  --pd-form-vertical: 2.5rem;

  display: flex;
  flex-direction: column;
  padding: var(--pd-form-vertical) var(--pd-form-horizontal) 0;
  width: 50%;
}

.primary-nav {
  --margin-nav: 0.5rem; /* 8px */

  display: flex;

  .social-media-accounts img {
    height: clamp(15px, 6vw, 30px);
    transition: transform 300ms ease;
    width: clamp(15px, 6vw, 30px);

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &:not(:last-child) {
      margin-right: var(--margin-nav);
    }
  }

  .sign-in {
    font-size: clamp(var(--font-smaller), 3vw, 1rem);

    margin-left: auto;
  }
}

/* FORM HEADER */
.sign-up-container {
  --clr-stroke: hsl(229, 28%, 88%);
  --margin-bottom: 2.5rem;

  display: flex;
  flex-direction: column;

  margin: auto;
  width: clamp(250px, 90%, 500px);

  & header {
    display: flex;
    flex-direction: column;
    margin-bottom: clamp(var(--margin-m), 2.72vw, var(--margin-l));
    text-align: center;
  }

  .form-title {
    --font-title-min: 2rem; /* 32px */
    --font-title-max: 2.5rem; /* 40px */

    font-size: clamp(var(--font-title-min), 3vw, var(--font-title-max));
    line-height: calc(1ex / 0.32);
    margin-bottom: clamp(var(--margin-s), 2.27vw, var(--margin-bottom));

    & span {
      color: var(--clr-primary-1);
      display: inline-block;
      letter-spacing: calc(0.15ex);
      padding: 0 1rem;
      position: relative;

      & span {
        background-color: var(--clr-primary-2);
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;

        transform: skewX(-15deg);
        width: 100%;
        z-index: -1;
      }
    }
  }

  .sign-up-with-gg {
    --clr-shadow-2: hsla(229, 28%, 88%, 0.3);

    background-color: inherit;
    border: 1px solid var(--clr-stroke);
    box-shadow: 0 10px 30px var(--clr-shadow-2);
    margin-bottom: clamp(var(--margin-s), 2.27vw, var(--margin-bottom));

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);

    &:focus {
      outline-color: var(--clr-secondary);
    }
  }
}

.sign-up-with-gg,
.sign-up-with-email {
  font-size: clamp(var(--font-small), 3vw, 1rem);
}

.sign-up-with-email {
  color: var(--clr-secondary);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--padding-vertical) 0;

  .line {
    height: 0;
    border: 0.5px solid var(--clr-secondary);
    width: calc((clamp(250px, 90%, 500px) / 2) - 5rem);
  }
}

/* ACTUAL FORM */
.sign-up-form {
  --clr-correct-input: hsl(158, 100%, 33%);
  --clr-wrong-input: hsl(350, 74%, 45%);

  display: flex;
  flex-direction: column;

  & > div:nth-child(-n + 3) {
    margin-bottom: var(--margin-l);
  }

  & > div:nth-child(n + 4) {
    margin-bottom: var(--margin-s);
  }

  .name,
  .password {
    display: flex;
    gap: var(--gap);
    justify-content: space-between;
  }

  .input-label-div {
    position: relative;
  }

  .create-account {
    background-color: var(--clr-primary-2);
    box-shadow: 0 10px 30px var(--clr-shadow);
    color: var(--clr-primary-1);
  }

  .can-submit {
    --clr-shadow: hsla(158, 100%, 33%, 0.3);
    background-color: var(--clr-correct-input);
  }
}

.input-label {
  --font-label: 0.875rem; /* 14px */

  color: var(--clr-primary-2);
  font-size: var(--font-label);
  position: absolute;
  left: var(--padding-horizontal);
  top: var(--padding-vertical);
  transition: all 300ms ease;
  z-index: -1;

  & span {
    font-size: var(--font-small);
  }
}

.input {
  --clr-bg-input-focused: hsla(60, 10%, 92%, 0.25);

  color: hsla(70, 5%, 22%, 0.75);
  transition: outline 200ms ease;

  & + div::before {
    border-radius: calc(0.625rem / 2);
    content: '';
    height: 0.625rem;
    width: 0.625rem;
    position: absolute;
    right: 0.625rem;
    bottom: 1.25rem;
  }

  &:focus,
  &:active,
  &:hover,
  &#password-confirm:hover {
    background-color: var(--clr-bg-input-focused);
    outline: solid 1.5px var(--clr-secondary);
  }

  &:hover,
  &#password-confirm:hover {
    outline-width: 2px;
  }

  & + .status::after {
    color: var(--clr-wrong-input);
    content: '';
    font-size: clamp(var(--font-smaller), 2vw, var(--font-small));
    position: absolute;
    top: 3.25rem;
    left: 0.625rem;
  }

  &[name='password'] {
    & + .status::after {
      font-size: clamp(0.5rem, 2vw, var(--font-small));
      left: 0;
      width: calc(clamp(250px, 75vw, 500px) - 0.625rem * 2);
    }

    &:is(:focus, :active) + .status::after {
      content: '⚠️ Minimum 8 characters: 1 uppercase, 1 lowercase, 1 number';
      color: var(--clr-secondary);
    }
  }

  &[type='tel']:is(:focus, :active) + .status::after {
    content: '⚠️ Valid format: 123-456-7890';
    color: var(--clr-secondary);
  }
}

/* NOT FOCUSED */
.input:not(:focus, :active, [value='']) {
  background-color: var(--clr-bg-input-focused);
  /* AND INVALID */
  &:invalid {
    &[type='email'] + .status::after {
      content: 'Please enter a valid email address';
    }

    &[name='password'] + .status::after {
      content: '❗️ Minimum 8 characters: 1 uppercase, 1 lowercase, 1 number';
    }

    &[type='tel'] + .status::after {
      content: 'Please enter a valid phone number';
    }
  }

  &:invalid,
  &#password-confirm.isInvalid {
    outline: 1px solid var(--clr-wrong-input);

    & + div::before {
      background-color: var(--clr-wrong-input);
      display: block;
    }

    &:hover {
      outline-width: 2px;
    }
  }

  &#password-confirm.isInvalid + .confirm-password-status::after {
    content: "Passwords don't match";
  }

  /* AND VALID */
  &:valid {
    &:not([type='tel'], [name='password-confirm']),
    &#password-confirm.isValid {
      outline: 1px solid var(--clr-correct-input);

      & + div::before {
        display: block;
        background-color: var(--clr-correct-input);
      }

      &:hover {
        outline-width: 2px;
      }
    }

    &[type='tel'],
    &[name='password-confirm'] {
      outline: 1px solid var(--clr-stroke);
    }
  }
}

.active {
  color: var(--clr-secondary);
  font-size: var(--font-small);
  transform: translate(-1rem, -2.25rem);

  & span {
    font-size: var(--font-smaller);
  }
}

/* CHECKBOX SECTION */
.agree-to-terms {
  display: flex;
  align-items: center;

  height: 24px;
  position: relative;

  & input {
    --margin-checkbox: 0.75rem; /* 12px */

    appearance: none;
    border: 1px solid var(--clr-stroke);
    border-radius: calc(var(--checkbox-size) / 10);
    height: var(--checkbox-size);
    margin-right: var(--margin-checkbox);
    transition: outline 150ms ease;
    width: var(--checkbox-size);

    &:hover {
      outline: solid 1.5px var(--clr-secondary);
    }

    &:checked + div {
      transform: scale(1);
    }

    &:focus {
      outline-color: var(--clr-secondary);
    }
  }

  & > div {
    background-color: var(--clr-primary-2);
    border-radius: calc(var(--checkbox-size) / 2 / 10);
    height: calc(var(--checkbox-size) / 2);
    position: absolute;
    top: 7px;
    left: calc(var(--checkbox-size) / 4);
    transform: scale(0);
    transition: transform 200ms cubic-bezier(0.53, -0.56, 0.15, 2.5);
    width: calc(var(--checkbox-size) / 2);
    z-index: -1;
  }
}

.attribution {
  font-size: 0.875rem;
  padding: 0.25rem 0;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .sign-up-form {
    & > div:nth-child(-n + 3) {
      margin-bottom: var(--margin-xl);
    }
  }

  .input-label span {
    display: none;
  }

  .input {
    & ~ div:last-of-type::after {
      background-color: var(--clr-primary-2);
      border-radius: calc((min(calc(1rem * 0.8125), 2vw) * 2 + 15px) / 10);
      color: var(--clr-primary-1);
      content: 'required';
      font-size: var(--font-smaller);
      padding: 0.5ex 1ex;
      position: absolute;
      right: calc(min(calc(1rem * 0.8125), 2vw) / 2);
      top: -1.75rem;
    }

    &[type='tel'] ~ div:last-of-type::after {
      content: 'optional';
    }
  }
}

@media only screen and (max-width: 943px) {
  .container {
    flex-direction: column;
  }

  .img-wrapper {
    min-height: 40vh;
    width: 100%;
  }

  .form-wrapper {
    width: 100%;
  }

  .sign-up-container {
    margin: 8rem auto;

    .form-title {
      font-size: clamp(var(--font-title-min), 4.2vw, var(--font-title-max));
    }
  }
}

@media only screen and (max-width: 700px) {
  .sign-up-form {
    .name,
    .password {
      flex-direction: column;
      gap: var(--margin-xl);
    }
  }
}

@media only screen and (max-width: 500px) {
  .form-wrapper {
    --pd-form-horizontal: 1.5rem;
    --pd-form-vertical: 2.25rem;
  }

  .sign-up-with-email .line {
    width: calc((clamp(250px, 90%, 500px) / 2) - 4rem);
  }
}
