@font-face {
  font-family: 'Literata';
  src: local('Literata'),
    url('./Fonts/Literata.woff2') format('woff2') tech(variations);
  font-weight: 200 900;
  font-display: swap;
}

:root {
  /* COLORS */
  --clr-primary-1: hsl(40, 100%, 97%);
  --clr-primary-2: hsl(70, 5%, 22%);
  --clr-secondary: hsla(70, 5%, 22%, 0.5);
  --clr-bg-input: hsla(60, 10%, 92%, 0.5);
  --clr-bg-input-focused: hsla(60, 10%, 92%, 0.25);
  --clr-correct-input: hsl(158, 100%, 33%);
  --clr-wrong-input: hsl(350, 74%, 45%);
  --clr-link: hsl(240, 100%, 50%);
  --clr-link-active: hsl(266, 100%, 50%);
  --clr-stroke: hsl(229, 28%, 88%);
  --clr-shadow-1: hsla(229, 28%, 88%, 0.3);
  --clr-shadow-2: hsla(70, 5%, 22%, 0.3);

  /* PADDING */
  --pd-s: 1rem;
  --pd-m: 1.5rem;
  --pd-l: 2.25rem;
  --pd-xl: 2.5rem;

  /* MARGIN */
  --margin-xs: 0.5rem; /* 8px */
  --margin-m: 1.5rem; /* 24px */
  --margin-l: 2.25rem; /* 36px */
  --margin-xl: 2.5rem; /* 40px */
  --margin-xxl: 3rem; /* 48px */

  /* GAP */
  --gap-s: 1rem;
  --gap-m: 1.5rem;
  --gap-l: calc(1rem + 1rem * 1.875);

  /* FONT SIZES */
  --font-xxs: calc(1rem - 1rem * 0.375); /* 10px */
  --font-xs: calc(1rem - 1rem * 0.25); /* 12px */
  --font-s: calc(1rem - 1rem * 0.125); /* 14px */
  --font-l: 2.5rem;

  /* BORDER RADIUS */
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Literata', serif;
  font-size: 16px;
}

body {
  background-color: var(--clr-primary-1);
  color: var(--clr-primary-2);
  height: 100vh;
}

button,
input:not([type='checkbox']) {
  border-radius: var(--border-radius);
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: 100%;
  /* height: clamp(45px, 3.3vw, 50px); */
  padding: min(calc(1rem * 0.8125), 2vw);
  width: 100%;
}

input {
  background-color: var(--clr-bg-input);
  border: none;

  &:is([type='checkbox']) {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
  }
}

a {
  --font-weight: 600;
  --font-opsz: 50;

  font-variation-settings: 'opsz' var(--font-opsz);
  font-weight: var(--font-weight);
  text-decoration: none;
  transition: font-variation-settings 300ms ease, font-weight 300ms ease;

  &:link {
    color: var(--clr-link);
  }

  &:active,
  &:visited {
    color: var(--clr-link-active);
  }

  &:hover {
    --font-weight: 800;
    --font-opsz: 70;
    text-decoration-line: underline;
  }
}

button {
  appearance: none;
  border: none;
  transition: transform 300ms linear;

  &:hover {
    cursor: pointer;
    transform: scale(1.04);
  }
}

.container {
  display: flex;
  height: 100%;
}

.img-wrapper {
  overflow: hidden;
  width: 50%;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--pd-xl) var(--pd-l) 0;
  width: 50%;
}

.primary-nav {
  display: flex;

  .social-media-accounts img {
    transition: transform 300ms ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &:not(:last-child) {
      margin-right: var(--margin-xs);
    }
  }

  .sign-in {
    margin-left: auto;
  }
}

.sign-up-container {
  display: flex;
  flex-direction: column;

  margin: auto;
  width: clamp(300px, 26.45vw, 450px);

  & header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    text-align: center;
  }

  .form-title {
    font-size: var(--font-l);
  }

  .sign-up-with-gg {
    background-color: inherit;
    border: 1px solid var(--clr-stroke);
    box-shadow: 0 10px 30px var(--clr-shadow-1);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-s);
  }
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-xl);

  & > div:nth-child(-n + 3) {
    margin-bottom: var(--margin-xxl);
  }

  .phone-number {
    margin-bottom: var(--margin-l);
  }

  .name,
  .password {
    display: flex;
    gap: 1rem;
  }

  .first-name,
  .last-name,
  .email,
  .pwd,
  .pwd-confirm,
  .phone-number {
    position: relative;
  }

  .agree-to-terms {
    margin-bottom: var(--margin-m);
  }

  .create-account {
    background-color: var(--clr-primary-2);
    box-shadow: 0 10px 30px var(--clr-shadow-2);
    color: var(--clr-primary-1);
  }
}

.input-label:not(:last-child) {
  color: var(--clr-primary-2);
  font-size: var(--font-s);
  position: absolute;
  left: min(calc(1rem * 0.8125), 2vw);
  top: min(calc(1rem * 0.8125), 2vw);
  z-index: -1;

  & span {
    font-size: var(--font-xs);
  }
}

input:not([type='checkbox']) {
  transition: outline 200ms ease;

  &:active,
  &:focus {
    background-color: var(--clr-bg-input-focused);
    outline: solid 1.5px var(--clr-secondary);
  }
}
